@font-face {
  font-family: WAG;
  src: url("WAGURI.ttf");
}

@font-face {
  font-family: NOTO;
  src: url("NotoSansKR-VariableFont_wght.ttf");
}
#image {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
body {
  background-color:rgb(52, 52, 52);
  color:white;
}
h1{
  font-family: WAG;
  font-weight: normal;
  font-size: 45px;
  text-align: center;
  /*background-color:black;*/
}
p {
  margin-top: 30px;
  font-family: NOTO;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.5px;
  text-align: center;
}
#container {
  position: relative;
  margin: 0 auto;
  width: 960px;
}